*{
	padding: 0;
	margin: 0;
}
a{
	text-decoration:none; 
}
.header{
	height: 173px;
	background-color: #eeeeef;
}
.logo{
	text-align: center;
	height: 125px;
}
.logo img{
	margin-top: 30px;
	margin-bottom: 27px;
}
.daohang{
	width: 720px;
	height: 45px;
	background-color: #fff;
	text-align: center;
	margin: 0 auto;
	border-radius: 23px;
	list-style: none;
}
.l{
	font-family: "Microsoft YaHei"；
	margin-left:30px;
	font-size: 14px;
	float: left;
	height: 45px;
	padding: 0 30px;
	line-height: 45px;
	background: url(image/shu.png) no-repeat right center;
}
.last{
	font-family: "Microsoft YaHei"；
	font-size: 14px;
	float: left;
	height: 45px;
	padding: 0 30px;
	line-height: 45px;
}
.bbb{
	border-bottom: 3px solid #1e50ae;
}
.banner{
	height: 405px;
	background: url(image/hui_02.png) no-repeat center center;
}
.fuwu{
	font-family:"Microsoft YaHei";
	font-size: 34px;
	text-align: center;
	margin-top:60px; 
}
.yy{
	font-family: "Aparajita";
	font-size: 25px;
	text-align: center;
	margin-top:20px;
}
.zong{
	height: 670px;
}
.aa{
	height: 420px;
}
.tt{
    float: left;
    margin-left: 180px;
    width: 260px;
    height: 420px;
}
.t{
    float: left;
    width: 332px;
    height: 420px;
}
.tuu{
    float: left;
    width: 260px;
    height: 420px;
}
.bb{
	height: 250px;
}
.tu{
	float: left;
    margin-left: 180px;
    width: 260px;
    height: 250px;
}
.uu{
    float: left;
    width: 332px;
    height: 250px;
}
.ttu{
    float: left;
    width: 260px;
    height: 250px;
}
.tupiana{
	margin-left: 70px;
	margin-top: 55px;
}
.tupianb{
	margin-left: 110px;
	margin-top: 55px;
}
.tupianc{
	margin-left: 50px;
	margin-top: 55px;
}
.tua{
	margin-left: 70px;
}
.tub{
	margin-left: 110px;
}
.tuc{
	margin-left: 50px;
}
.xiaoa{
	margin-left: 110px;
	margin-top: 20px;
    font-size: 16px;
    font-family: "Microsoft YaHei";
}
.xiaob{
	margin-left: 150px;
	margin-top: 20px;
    font-size: 16px;
    font-family: "Microsoft YaHei";
}
.xiaoc{
	margin-left: 90px;
	margin-top: 20px;
    font-size: 16px;
    font-family: "Microsoft YaHei";
}
.xa{
	margin-left: 90px;
	margin-top: 20px;
    font-size: 16px;
    font-family: "Microsoft YaHei";
}
.xb{
	margin-left: 150px;
	margin-top: 20px;
    font-size: 16px;
    font-family: "Microsoft YaHei";
}
.xc{
	margin-left: 90px;
	margin-top: 20px;
    font-size: 16px;
    font-family: "Microsoft YaHei";
}
.ffa{
  font-size: 14px;
  font-family: "Microsoft YaHei";
  color: rgb( 145, 145, 145 );
  line-height: 1.857;
  margin-left: 110px;
}
.ffb{
  font-size: 14px;
  font-family: "Microsoft YaHei";
  color: rgb( 145, 145, 145 );
  line-height: 1.857;
  margin-left: 150px;
}
.ffd{
  font-size: 14px;
  font-family: "Microsoft YaHei";
  color: rgb( 145, 145, 145 );
  line-height: 1.857;
  margin-left: 90px;
}
.zz{
	height: 712px;
	width: 1560px;
	background: url(image/haoduo.png) no-repeat center center;
}
.xx{
	float: left;
	width: 225px;
	height: 300px;
	margin-left: 240px;
	padding-top: 215px;
}
.vv{
	float: left;
	width: 225px;
	height: 300px;
	margin-left: 50px;
	padding-top: 215px;
}
.nn{
	float: left;
	width: 225px;
	height: 300px;
	margin-left: 50px;
	padding-top: 215px;
}
.mm{
	float: left;
	width: 225px;
	height: 300px;
	margin-left: 50px;
	padding-top: 215px;
}
.zaijianchi{
	height: 1010px;
	width: 1560px;
}
.yixia{
    height: 133px;
    margin: 0 auto;
}
.zuixinzixun{
    padding-top: 43px;
    font-size: 34px;
    text-align: center;
    color: #333333;
    font-family:"Microsoft YaHei";
    display: block;
}
.lastst{
    padding-top: 23px;
    font-size: 28.5px;
    text-align: center;
    font-family: "Aparajita";
    color: #333333;
}
.zui{
	width: 1200px;
    height: 431px;
    margin: 0 auto;
    display: block;
}
.uuu{
    width: 620px;
    height: 431px;
    background: url(image/cunqian.png) 50px no-repeat;
    float: left;
    display: block;
}
.fff{
    width: 580px;
    height: 431px;
    float: left;
}
.ppp{
	margin-top: 84px;
    font-size: 22px;
    color: #333333;
    font-family:"Microsoft YaHei";
    display: block;
}
.o{ 
	font-family: "MicrosoftYaHeiLight";
    font-size: 18px;
    margin-top: 20px;
    color: rgb(150,150,150);
}
.oo{
    width: 507px;
    font-size: 14px;
    color: rgb(150,150,150);
    margin-top: 36px;
    font-family:"Microsoft YaHei";
}
.ooo{
	margin-right: 610px;
	padding-top: 30px;
}
.vvv{
    width: 1088px;
    height: 330px;
    float: left;
}
.hh{
	margin: 0 20px;
	float: left;  
    text-align: center;
}
.hhh{
	margin: 0 20px;
	float: left;
    text-align: center;
}
.y{
  font-size: 14px;
  font-family: "Microsoft YaHei";
  color: rgb( 121, 121, 121 );
}
.hou{
	height: 110px;
    background-color: rgb( 245, 245, 245 );
}
.ckk{
	float: left;
	width: 50px;
	height: 102px;
}
.asd{
	margin-left: 180px;
	float: left;
	width: 50px;
	height: 102px;
}
.shini{
	margin-left: 45px;
	padding-top: 26px;
}
.wenzi{
	margin-left: 20px;
	width: 250px;
	height: 102px;
	float: left;
}
.dong{
	float: left;
    font-size: 19px;
    font-family: "Microsoft YaHei";
    margin-left: 40px;
    padding-top: 20px;
}
.qilai{
	float: left;
    font-size: 13px;
    font-family: "Microsoft YaHei";
    margin-left: 40px;
    padding-top: 10px;
}
.jj{
	float: left;
	padding-top: 25px;
}
.mingtian{
	width: 1560px;
	height: 387px;
	background-color: rgb( 50, 50, 50 );
}
.dachang{
	width: 1560px;
	height: 1px;
}
.wer{
	margin-left: 250px;
	height: 250px;
	width: 180px;
	float: left;
	list-style: none;
}
.qwe{
	height: 250px;
	width: 180px;
	float: left;
	list-style: none;
}
.qaz{
	padding-top: 70px;
    font-size: 18px;
    font-family: "Microsoft YaHei";
    color: rgb( 255, 255, 255 );
}
.qw{
    font-size: 14px;
    font-family: "Microsoft YaHei";
    color: rgb( 255, 255, 255 );
    padding-top: 30px;
}
.qws{
    font-size: 14px;
    font-family: "Microsoft YaHei";
    color: rgb( 255, 255, 255 );
    padding-top: 20px;
}
.erweima{
	margin-top: 70px;
	margin-left: 0px;
	float: left;
}
}
.zuo{
    width: 700px;
    height: 261px;
    float: left;
}
.caa{
	margin-top: 70px;
	margin-left: 30px;
	float: left;
}
.kkk{
	margin-top: 74px;
    width: 260px;
    height: 148px;
    float: left;
}
.yb{
	font-family: "Microsoft YaHei";
    color: rgb( 255, 255, 255 );
    margin-top: 15px;
    margin-left: 40px;
    font-size: 18px;
}
.woc{
    margin-top: 20px;
    margin-left: 40px;
    font-size: 16px;
    height: 28px;
    line-height: 28px;
}
.QQ{
    width: 28px;
    height: 24px;
    margin-right: 15px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -5px;
}
.lll{
	font-family: "Microsoft YaHei";
    color: rgb( 255, 255, 255 );
	margin-top: 20px;
    margin-left: 40px;
    font-size: 16px;
    height: 28px;
    line-height: 28px;
}
.d{
	width: 770px;
	height: 20px;
	text-align: center;
	margin-top: 45px;
	margin-left: 415px;
	list-style: none;
}
.wc{
	font-family: "Microsoft YaHei";
    color: rgb( 255, 255, 255 );
	margin-right:13px;
	font-size: 14px;
	float: left;
}